---
layout: default
title: Index
---

        <section class="site-section section-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 text-center">
                        <img src="assets/img/image.png" alt="">
                    </div>
                    <div class="col-sm-5">
                        <h2>About me</h2>
                        <p>Hello! I'm Nelina. I'm a digital artist, specialized in profesional book cover designs and character art. My main goal is to bring authors stories to life, trough my work. Being able to connect and work with professionals in the writing industry is one of the best parts of the cover design business.</p>
                    </div>
                </div>
            </div>
        </section><!-- .section-features --> 

        <section class="site-section section-services gray-bg text-center"> 
            <div class="container">
                <h2 class="heading-separator">Services</h2>
                <div class="row">
                     {% for package in site.data.services.packages %}
                        <div class="col-md-3 col-sm-3 text-center">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>{{ package.name }}</h3>
                                    </div>
                                    <div class="panel-body text-center h1 services-pricing">
                                        <strong>
                                                ${{ package.price }}
                                        </strong>
                                    </div>
                                    <div class="panel-body">
                                            <ul class="list-group text-center">
                                                {% for item in package.items %}
                                                        <li class="list-group-item" style="border-width: 1px 0">{{ item }}</li>
                                                {% endfor %}
                                            </ul>
                                    </div>
                                    <div class="panel-footer">
                                        <!-- <a class="btn btn-lg btn-block hvr-underline-from-center" href="#">Purchase Now!</a> -->
                                    </div>
                                </div>
                        </div>
                     {% endfor %}
                </div>
                        
                <div>
                        <h3>Other services</h3>
                        
                        {% for service in site.data.services.other %}
                                <div>
                                        <span>{{ service.name }}</span>
                                        <ul>
                                        {% for item in service.items %}
                                                <li class="list-group-item" style="border-width: 1px 0">
                                                        {{ item.name }}: 
                                                        <strong>${{ item.price }}</strong>
                                                </li>
                                        {% endfor %}
                                        </ul>
                                </div>
                        {% endfor %}
                </div>
            </div>
        </section><!-- /.section-services --> 
        
        <script type="text/html">
        <section class="site-section section-map-feature text-center">

            <div class="container"> 
            
                <h2>Responsive Web Design</h2>
                <p>Web design is responsive design. Responsive web design is web design, done right.</p>
                <a href="#" class="btn btn-fill">Learn More</a>
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="377" data-speed="2000">0</p>
                            <h3>Cofee Cups</h3>
                        </div><!-- /.counter-item -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="1204" data-speed="2000">0</p>       
                            <h3>Projects completed</h3>
                        </div> <!-- /.counter-item -->      
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="459" data-speed="1000">0</p>
                            <h3>Happy Clients</h3>
                        </div><!-- /.counter-item --> 
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="675" data-speed="1000">0</p>
                            <h3>Average Deal</h3>
                        </div><!-- /.counter-item -->
                    </div>
                </div>
            </div> 
        </section><!-- /.section-map-feature --> 

        <section class="site-section section-portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="heading-separator">Latest Work</h2>
                    <p class="subheading-text">This is some of our best work</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="assets/img/portfolio-1.jpg" class="img-res" alt="">
                            <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="assets/img/portfolio-2.jpg" class="img-res" alt="">
                            <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div><!-- /.portfolio-item-->
                    </div> 
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="assets/img/portfolio-3.jpg" class="img-res" alt="">
                            <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div><!-- /.portfolio-item 
                        -->
                    </div> 
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="assets/img/portfolio-4.jpg" class="img-res" alt="">
                            <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div><!-- /.portfolio-item -->
                    </div> 
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="assets/img/portfolio-5.jpg" class="img-res" alt="">
                            <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div><!-- /.portfolio-item -->
                    </div> 
                    <!--
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="assets/img/portfolio-6.jpg" class="img-res" alt="">
                            <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div><!-- /.portfolio-item -->
                    </div> 
                    <!--
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="assets/img/portfolio-1.jpg" class="img-res" alt="">
                            <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div><!-- /.portfolio-item -->
                    </div> 
                    <!--
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="assets/img/portfolio-2.jpg" class="img-res" alt="">
                            <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div><!-- /.portfolio-item -->
                    </div>
                </div>
            </div>
        </section><!-- /.section-portfolio --> 
           
        <section class="site-section section-newsletter text-center">
            <div class="container">
                <h2>Subscribe our newsletters</h2>
                <form class="form-group newsletter-group">
                    <input type="email" class="form-control" placeholder="Your e-mail" required>
                    <button class="btn btn-green" type="button">Subscribe</button>
                </form><!-- /.newsletter-group -->
            </div>
        </section><!-- /.section-newsletter -->
        </script>
