<header id="masthead" class="site-header">
    <nav id="primary-navigation" class="site-navigation">
        <div class="container" style="background: #f1f1f1; padding: 10px 20px;">

            <div class="navbar-header">

                <a class="site-title" href="/"><span>Nyx</span>Visuals</a>

            </div><!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="agency-navbar-collapse">

                <ul class="nav navbar-nav navbar-right">

                    <li class="active"><a href="/">Home</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Available<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                          <li><a href="/book-covers">Book covers</a></li>
                          <li><a href="/character-designs">Character</a></li>
                          <li><a href="/nsfw">NSFW</a></li>
                        </ul>

                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                          <li><a href="/potfolio/book-covers">Book covers</a></li>
                          <li><a href="/portfolio/character-designs">Character</a></li>
                          <li><a href="/portfolio/nsfw">NSFW</a></li>
                        </ul>

                    </li>
                    <!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Inquiries<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                          <li><a href="/forms/premade-covers">Premades</a></li>
                          <li><a href="/forms/custom-covers">Custom Designs</a></li>
                          <li><a href="/forms/author-branding">Author Branding</a></li>
                        </ul>

                    </li> -->
                    <li><a href="/contact">Contact</a></li> 
                    <!--
                    <li><a href="ui-elements.html">Shop</a></li>
                    -->

                </ul>

            </div>

        </div>   
    </nav><!-- /.site-navigation -->
</header><!-- /#mastheaed -->


{% if page.title == "Index" %}

<div id="hero" class="hero overlay">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Nyx Visuals.</h1>
            <p>Where amazing stories meet their visualization.</p>
            <q>Good cover design is not only about beauty... it’s a visual sales pitch. It’s your first contact with a potential reader. Your cover only has around 3 seconds to catch a browsing reader’s attention. You want to stand out and make them pause and consider, and read the synopsis.</q>
            <p>― Eeva Lancaster</p>
        </div><!-- /.hero-text -->
    </div><!-- /.hero-content -->
</div><!-- /.hero -->

{% else %}

{% if page.table and page.item %}
    {% assign title = site.data[page.table][page.item].title %}
{% else %}
    {% assign title = page.title %}
{% endif %}

<div id="hero" class="hero overlay subpage-hero {{ page.title | downcase | replace: ' ', '-'  }}-hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>{{ title }}</h1>
        </div><!-- /.hero-text -->
    </div><!-- /.hero-content -->
</div><!-- /.hero -->

{% endif %}
