<section class="site-section subpage-site-section section-{{ page.title | downcase | replace: ' ', '-' }}">
    <div class="container">
        
        <!-- 
        <ul class="portfolio-sorting list-inline text-center">
            <li><a href="#" class="btn btn-gray active" data-group="all">Available</a></li>
            <li><a href="#" class="btn btn-gray" data-group="webdesign">Full wrap designs</a></li>
            <li><a href="#" class="btn btn-gray" data-group="webdesign">Series</a></li>
            <li><a href="#" class="btn btn-gray" data-group="webdesign">Sold Designs</a></li>

        </ul>
        -->

        {% if site[page.collection] %}
            <div id="grid" class="row">
                {% assign items = site[page.collection] | sort: "order" %}
                {% for item in items reversed %}
                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='["webdesign"]'>
                        <div class="portfolio-item">
                            <img src="{{ item.images[0] }}" class="img-res" alt="">
                            <div class="portfolio-item-title">
                                <h4>{{ item.title }}</h4>
                                <p>{{ item.description }}</p>
                            </div>
                            <a href="{{ item.url }}">
                                More
                            </a>
                        </div><!-- /.portfolio-item -->
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <a class="btn btn-gray" href="#" id="loadMore">Load More</a>
            </div>
        {% endif %}
    </div>
</section><!-- /.section-portfolio -->
