<section class="site-section subpage-site-section section-{{ page.title | downcase | replace: ' ', '-' }}">
    <div class="container">
        
        {% assign collection = site.collections | where: "label", page.collection | first %}
        
        {% if collection %}
            {% assign items = site[page.collection] | sort: "order" %}
            {% assign groups = "" | split: "" %}
            {% for item in items %}
                {% if item.groups %}
                    {% assign groups = groups | concat: item.groups %}
                {% endif %}
            {% endfor %}
        
            <ul class="portfolio-sorting list-inline text-center">
                
                <li><a href="#" class="btn btn-gray active" data-group="all">{{ site.data.groups.all }}</a></li>
                {% for group in groups %}
                    <li><a href="#" class="btn btn-gray" data-group="{{ group }}">{{ site.data.groups[group] }}</a></li>
                {% endfor %}
                
            </ul>
        
            <div id="grid" class="row">
                {% for item in items reversed %}
                    <div class="col-lg-3 col-md-4 col-xs-6" data-groups='{{ item.groups | jsonify }}'>
                        <div class="portfolio-item">
                            <img src="{{ item.images[0] }}" class="img-res" alt="">
                            <div class="portfolio-item-title">
                                <h4>{{ item.title }}</h4>
                                <p>{{ item.description }}</p>
                            </div>
                            {% if collection.output %}
                            <a href="{{ item.url }}">
                                More
                            </a>
                            {% endif %}
                        </div><!-- /.portfolio-item -->
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <a class="btn btn-gray" href="#" id="loadMore">Load More</a>
            </div>
        {% endif %}
    </div>
</section><!-- /.section-portfolio -->
