name: Mark sold

on:
  workflow_dispatch:
    inputs:
      work:
        description: 'id'
        required: true
        type: string

jobs:
  update-issue:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        
      - name: Update
        run: |
          file="works/_${{ github.event.inputs.work }}.md"
          echo File is $file

          cat $file
